@{
    var session = (BookTourOnline.Common.UserLogin)Session[BookTourOnline.Common.CommonConstants.USERCLIENT_SESSION];
}
@if (session != null)
{
    <div class="form-group">
        <label>Họ tên</label>
        <input type="text" id="txtName" class="form-control" value="@ViewBag.name" />
    </div>
    <div class="form-group">
        <label>Điện thoại</label>
        <input type="text" id="txtMobile" class="form-control" value="@ViewBag.phoneNumbers" />
    </div>
    <div class="form-group">
        <label>Địa chỉ</label>
        <input type="text" id="txtAddress" class="form-control" value="@ViewBag.adress" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" id="txtEmail" class="form-control" value="@ViewBag.email" />
    </div>
    <div class="form-group">
        <label>Yêu cầu</label>
        <textarea id="txtContent" class="form-control">

                        </textarea>
    </div>

}
else
{
    <div class="form-group">
        <label>Họ tên</label>
        <input type="text" id="txtName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Điện thoại</label>
        <input type="text" id="txtMobile" class="form-control" />
    </div>
    <div class="form-group">
        <label>Địa chỉ</label>
        <input type="text" id="txtAddress" class="form-control" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" id="txtEmail" class="form-control" />
    </div>
    <div class="form-group">
        <label>Yêu cầu</label>
        <textarea id="txtContent"	rows="7" class="form-control">

                        </textarea>
    </div>
}




