
<footer>
    <div class="block-footer">
        <div class="row no-margin footer-widget footer-widget--1">
            <div class="col-lg-4 block-footer-detail">
                <dl>
                    <dt>
                        <h4>ĐĂNG KÝ NHẬN BẢN TIN CỦA CHÚNG TÔI</h4>
                    </dt>
                    <dd>Nhận những câu chuyện du lịch mới từ Việt Nam mỗi tháng một lần trong hộp thư đến của bạn</dd>
                    <dd>
                        <form action="" method="post" id="mc-embedded-subscribe-form" name="form-newsletter" class="validate form-newsletter" target="_blank" novalidate="novalidate">
                            <p><input type="email" value="" name="EMAIL" placeholder=" Your email "></p>
                            <p><button name="sign up" class="bg-red-corners">Đăng ký</button></p>
                            <span class="error response" id="mce-error-response" style="display:none"></span>
                            <span class="error response" id="mce-success-response" style="display:none"></span>
                        </form>
                    </dd>
                </dl>
            </div>
            <div class="col-lg-3 block-footer-detail-2">
                <dl>
                    <dt>
                        <h4 data-nid="138">LIÊN HỆ</h4>
                    </dt>
                    <dd class="clearfix">
                        <ul class="no-padding">
                            <li><a href="#">1900 2083</a></li>
                            <li><a href="#">event@mytour.vn</a></li>
                            <li><a href="#">Văn Phòng: Tầng 11 tòa nhà Peak View, 36 Hoàng Cầu, Đống Đa, Hà Nội</a></li>
                            <li><a href="#">Showroom: 168 Xã Đàn, Phương Liên, Đống Đa, Hà Nội</a></li>

                        </ul>
                    </dd>
                </dl>
            </div>
            <div class="col-lg-4 block-footer-detail ">
                <dl>
                    <dt>
                        <h4>THEO DÕI CHÚNG TÔI TẠI</h4>
                    </dt>
                    <dd>
                        <ul class="social no-padding">
                            <li>
                                <a target="_blank" href="https://www.facebook.com/vietnamtourismboard/" title="Facebook" class="social" rel="noopener noreferrer"><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-2_4.jpg"></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.youtube.com/vietnamtourismboard/" title="Youtube" class="social" rel="noopener noreferrer"><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-3_6.jpg"></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.instagram.com/vietnamtourismboard/" title="Instagram" class="social" rel="noopener noreferrer"><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-4_4.jpg"></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.pinterest.com/vietnamtourismboard/" title="Pinterest" class="social" rel="noopener noreferrer"><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web_4.jpg"></a>
                            </li>
                            <li>
                                <a target="_blank" href="" title="TikTok" class="social" rel="noopener noreferrer"><img src="https://vietnam.travel/sites/default/files/2021-02/Vietnam%20tourism.jpg"></a>
                            </li>
                        </ul>
                        <a href="#" class="logo" target="_blank" rel="noopener noreferrer"><img src="./images/logo-bw.png" alt=""></a>
                    </dd>
                    <dd>
                        <p class="desc">Chào mừng bạn đến với trang web chính thức của Tổng cục Du lịch Việt Nam. Ghé thăm các trang mạng xã hội của chúng tôi để có thêm cảm hứng du lịch.</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="copyright container">
        <a href="#" class="btn-backtop">Back to top<img src="/themes/custom/vietnamtourism/images/icon-arrow-up.png" alt=""></a>
        <div class="row block-rule">
            <div class="col-md-9 col-md-push-3">
                <ul class="copyright-rule">
                    <li> © 2016 Trang web chính thức Du lịch Việt Nam</li>
                    <!-- <li>
                        <a href="/privacy-policy" title="Privacy Policy">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="/term-conditions" title="Terms &amp; Conditions">Terms &amp; Conditions</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>

</footer>