
@{
    ViewBag.Title = "CountTourByID";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<h2>CountTourByID</h2>

<div class="row" style="justify-content:center">

    <div class="col-lg-4 text-center" style="margin-bottom: 40px;background-color: #34495e; padding:20px 0px; font-size:25px;margin-right:30px;">
        <p style="letter-spacing:1px"><a href="@Url.Action("CountTourByID","ThongKe")">Tổng số tour</a> <i class="fas fa-bus-alt"></i></p>
        <br />
        <p>@ViewBag.Count</p>
    </div>
   
    
   

   


</div>